{% extends "base.html" %}
{% block content %}
	{% load static %}
    {% get_media_prefix as media_prefix %}

    <div class="main-container">
		<section class="page-title page-title-1 image-bg overlay parallax">
            <div class="background-image-holder">
                <img alt="Background Image" class="background-image" src="{% static 'img/about-bg.jpg' %}">
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2 class="uppercase mb0">quem somos</h2>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-1 text-right text-left-xs col-sm-5">
                        <h1 class="uppercase mb24 bold italic">{{ content.quemsomos_titulo }}</h1>
                        <h5 class="uppercase italic fade-1-4">{{ content.quemsomos_subtitulo }}</h5>
                        <hr class="visible-xs">
                    </div>
                    <div class="col-md-5 col-sm-7">
                        <p>{{ content.quemsomos_texto }}</p>
                    </div>
                </div>
            </div>
        </section>
        {% if partners %}
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb64 mb-xs-40">Nossos Parceiros</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides">
                                {% for p in partners%}
                                    <li><img alt="{{ p.name }}" src="{{ media_prefix }}{{ p.logo }}"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </div>

{% endblock %}