
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Banana Vitória</title>
		{% load static %}
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'css/theme-offyellow.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div class="main-container">
			<section class="bg-primary background-multiply pt240 pb240 pt-xs-120 pb-xs-120 overlay image-bg">
				<div class="background-image-holder">
					<img alt="image" class="background-image" src="{% static 'img/img-banana.jpg' %}">
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-offset-2 col-sm-10 col-sm-offset-1 text-center col-md-8">
							<img alt="Logo" class="image-small mb40 mb-xs-0" src="{% static 'img/emconstrucao.png' %}">
							<h4 class="mb56 mb-xs-24">
								Nosso website está em construção. Fique de olho&nbsp; ele será lançado durante as próximas semanas.<br>
							</h4>
						</div>
					</div>
				</div>
			</section>
		</div>
		<script src="{% static 'js/jquery.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/parallax.js' %}"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
    </body>
</html>
				