{% extends "base.html" %}
{% block title%}
- Frota
{% endblock %}
{% block content %}
	{% load static %}

	<div class="main-container">
		<section class="page-title page-title-2 image-bg overlay parallax">
			<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="{% static 'img/fleet-bg.jpg' %}">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="uppercase mb8">nossa frota</h2>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-1">
						<div class="feature bordered">
							<h1 class="large uppercase mb64 mb-xs-24">veículos</h1>
						</div>
					</div>
					<div class="col-sm-5">
						<img class="mt80 mt-xs-0 mb24" alt="Pic" src="{% static 'img/truck.jpg' %}">
						<img class="col-md-pull-4 relative" alt="Pic" src="{% static 'img/trucks.jpg' %}">
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h2 class="number">{{ content.frota_titulo1 }}</h2>
						<p>{{ content.frota_texto1 }}</p>
					</div>
					<div class="col-sm-4">
						<h2 class="number">{{ content.frota_titulo2 }}</h2>
						<p>{{ content.frota_texto2 }}</p>
					</div>
					<div class="col-sm-4">
						<h2>{{ content.frota_titulo3 }}</h2>
						<p>{{ content.frota_texto3 }}</p>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}