{% extends "base.html" %}
{% block content %}
	{% load static %}
	{% get_media_prefix as media_prefix %}

	<div class="main-container">
		<section class="page-title page-title-2 image-bg overlay parallax">
			<div class="background-image-holder">
					<img alt="Background Image" class="background-image" src="img/cover15.jpg">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="uppercase mb8">nossa frota</h2>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 col-sm-offset-1">
						<div class="feature bordered">
							<h1 class="large uppercase mb64 mb-xs-24">veículos</h1>
						</div>
					</div>
					<div class="col-sm-5">
						<img class="mt80 mt-xs-0 mb24" alt="Pic" src="img/resto5.jpg">
						<img class="col-md-pull-4 relative" alt="Pic" src="img/resto6.jpg">
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h2 class="number">2008</h2>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
					</div>
					<div class="col-sm-4">
						<h2 class="number">150+</h2>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
					</div>
					<div class="col-sm-4">
						<h2>Milhões</h2>
						<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
					</div>
				</div>
			</div>
		</section>
	</div>

{% endblock %}