{% extends "base.html" %}
{% block content %}
	{% load static %}
	{% get_media_prefix as media_prefix %}
		
	<div class="main-container">
		<section class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 text-center mb0 mt40">
                        <h3 class="uppercase color-primary mb40 mb-xs-24">produção</h3>
                        <p class="lead">
                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="image-square left">
            <div class="col-md-6 image">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="{% static 'img/bananas.jpg' %}">
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 content">
                <h3>Bananas.</h3>
                <p class="mb0">
                    - Banana Prata <br>
                    - Banana D'água (Nanica) <br>
                    - Banana Terra <br>
                    - Banana Maçã <br>
                    - Banana Ouro <br>
                    - Banana Figo 
                </p>
            </div>
        </section>
        <section class="image-square right">
            <div class="col-md-6 image">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="{% static 'img/mangos.jpg' %}">
                </div>
            </div>
            <div class="col-md-6 content">
                <h3>Manga.</h3>
                <p class="mb0">
                    - Manga Palmer <br>
                    - Manga Tommy
                </p>
            </div>
        </section>
        <section class="image-square left">
            <div class="col-md-6 image">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="{% static 'img/avocados.jpg' %}">
                </div>
            </div>
            <div class="col-md-6 col-md-offset-1 content">
                <h3>Abacate.</h3>
            </div>
        </section>
        <section class="image-square right">
            <div class="col-md-6 image">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="{% static 'img/passionfruit.jpg' %}">
                </div>
            </div>
            <div class="col-md-6 content">
                <h3>Maracujá.</h3>
            </div>
        </section>
        <section class="bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h3 class="mb0 inline-block p32 p0-xs">Faça seu pedido</h3>
                        <a class="btn btn-lg btn-white mb8 mt-xs-24" href="{% url 'contact' %}">Contato</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}